{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messenger</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ messenger.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ messenger.title }}</td>
            </tr>
            <tr>
                <th>User1</th>
                <td>{{ messenger.user1 }}</td>
            </tr>
            <tr>
                <th>User2</th>
                <td>{{ messenger.user2 }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ messenger.message }}</td>
            </tr>
            <tr>
                <th>Createtime</th>
                <td>{% if messenger.createTime %}{{ messenger.createTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>User1read</th>
                <td>{% if messenger.user1Read %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>User2read</th>
                <td>{% if messenger.user2Read %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('messenger_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('messenger_edit', { 'id': messenger.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
