{% extends 'base.html.twig' %}
{% block title %}Notation et commentaire | The Booster{% endblock %}
{% block body %}

    {# Display page notation and comments for Boosters => they vote and comment for a Booste #}
    {% if is_granted('ROLE_BOOSTER') %}
        <div class="row block_content_notes">

            <div class="block_top col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
                    <h1 class="h1_note">Notez le Boosté !</h1>
                    <hr>
                    <h2 class="h2_toppage">Vous venez d'offrir à un Boosté, de votre temps libre et de vos compétences.</h2>

                {# Star rating system to note a Boosté #}
                <div class="stars_list_page col-xs-12 text-center" id="stars_list_notes">
                    <p class="text-center">Attribuez une note au Boosté :</p>
                        <ul class="rating row" id="society_type_societyNote">
                            <li id="1"><i class="star_grey star1 fa fa-star fa-2x" aria-hidden="true"></i></li>
                            <li id="2"><i class="star_grey star2 fa fa-star fa-2x" aria-hidden="true"></i></li>
                            <li id="3"><i class="star_grey star3 fa fa-star fa-2x" aria-hidden="true"></i></li>
                            <li id="4"><i class="star_grey star4 fa fa-star fa-2x" aria-hidden="true"></i></li>
                            <li id="5"><i class="star_grey star5 fa fa-star fa-2x" aria-hidden="true"></i></li>
                        </ul>
                </div>

                {{ form_start(form2) }}
                {{ form_widget(form2) }}
                {{ form_end(form2) }}

            </div>
        </div>

        {# Display page notation and comments for Society => they vote and comment for a Booster #}
    {% elseif is_granted('ROLE_BOOSTE')  %}
        <div class="row">

            <div class="block_top col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
                    <h1 class="h1_note">Notez le Booster !</h1>
                    <hr>
                    <h2 class="h2_toppage">Un Booster vient de vous offrir de son temps libre et de ses compétences.</h2>

                {# Star rating system to note a Booster #}
                <div class="stars_list_page" id="stars_list_notes">
                    <p class="text-center">Attribuez une note au Booster :</p>
                    <div class="row rating_stars">
                        <ul class="rating row" id="booster_type_boosterNote">
                            <li id="1"><i class="star_grey star1 fa fa-star fa-2x" aria-hidden="true"></i></li>
                            <li id="2"><i class="star_grey star2 fa fa-star fa-2x" aria-hidden="true"></i></li>
                            <li id="3"><i class="star_grey star3 fa fa-star fa-2x" aria-hidden="true"></i></li>
                            <li id="4"><i class="star_grey star4 fa fa-star fa-2x" aria-hidden="true"></i></li>
                            <li id="5"><i class="star_grey star5 fa fa-star fa-2x" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>

                    {{ form_start(form1) }}
                    {{ form_widget(form1) }}
                    {{ form_end(form1) }}
            </div>
        </div>
    {% endif %}

{% endblock %}

    {% block javascripts %}     {# JQuery event to change the color of the grey stars on click into gold with all the prev stars #}
        <script src="{{ asset('js/stars-rating.js')}}"></script>
    {% endblock %}