<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html" charset="utf-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Fichier CSS custom -->
    <link rel="stylesheet" href="{{ asset('/css/main.css')}}" >

    <!-- Google Font title ROBOTO -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- Google Font paragraphes et boutons SOURCE SANS PRO -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">

    <!-- Font-awesome for logo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/the-booster-favicon-ico.ico')}}" />
    <link rel="icon" type="image/png" href="{{ asset('img/the-booster-favicon-16X16.png')}}" />


    <link href="{{ asset('css/main.css')}}">

    <title>{% block title %}The Booster | La 1ere plateforme de crowdfunding de compétences {% endblock %}</title>
    <meta name="description" content="{% block pageDescription %}{% endblock %}"/>

    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <nav  role="navigation" class="navbar navbar-fixed-top">
            <div class="container-fluid nav_container">
                <div class="navbar-header" id="navbar-logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('booster_homepage') }}"><img src="{{ asset('/img/logo-booster-det.png')}}" alt="The Booster logo"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="">Proposer un projet</a></li>
                        <li><a href="">Liste des sociétés</a></li>
                        <li><a href="{{ path('booster_how_it_works') }}">Comment ça marche</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<a href="{{ path('fos_user_profile_show') }}" class="log-nav" >{{ app.user.username }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}" class="log-nav">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li><a href="{{ path('fos_user_profile_edit') }}" class="log-nav"><img src="{{ asset('/img/profile-configuration.png')}}" alt="The Booster logo"></a></li>
                            {% else %}
                               <li><a href="#" class="login-index">Inscription</a>
                               <li><a href="{{ path('fos_user_security_login') }}" class="login-index">Connection</a>
                            {% endif %}</li>
                        <li>
                            <div class="nav navbar-nav navbar-right nav-social nav_networks">
                                <a href="https://www.facebook.com/The-Booster-1775588599376645/" target="_blank"><img src="{{ asset('/img/facebook-tb-black.png')}}" alt="facebook"></a>
                                <a href="https://twitter.com/ZeBooster" target="_blank"><img src="{{ asset('/img/twitter-the-booster-black.png')}}" alt="twitter"></a>
                                <a href="https://fr.linkedin.com/in/the-booster-059bb1130" target="_blank"><img src="{{ asset('/img/linkedin-the-booster-black.png')}}" alt="linkedin"></a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    {% block body %}{% endblock %}
    {% block content %}{% endblock %}

    <footer>
        <div class="container-fluid center-block" id="foo_list">
            <div class="row visible-xs visible-sm foo_social">
                <a href="https://www.facebook.com/The-Booster-1775588599376645/" target="_blank">
                    <img src="{{ asset('img/facebook-tb-white.png')}}" alt="facebook">
                </a>
                <a href="https://twitter.com/ZeBooster" target="_blank">
                    <img  src="{{ asset('/img/twitter-the-booster-white.png')}}" alt="twitter">
                </a>
                <a href="https://fr.linkedin.com/in/the-booster-059bb1130" target="_blank">
                    <img  src="{{ asset('/img/linkedin-the-booster-white.png')}}" alt="linkedin">
                </a>
            </div>
            <div class="row foo_mention">
                <p><a href="{{ path('booster_how_it_works') }}">Comment ça marche</a> |
                <a href="{{ path('booster_cgv') }}">CGV/CGU</a> |
                <a href="{{ path('booster_faq') }}">FAQ</a> |
                <a href="{{ path('booster_charte') }}">La charte</a>
                <p><a href="{{ path('booster_equipe') }}">L'équipe</a> |
                <a href="{{ path('booster_contact') }}">Nous contacter</a></p>
                <p class="foo_copyright"><small>Copyright © 2016 - The Booster. Tous droits réservés.<br/>Réalisé par les élèves de la <a href="{{ 'http://www.wildcodeschool.fr' }}" target="_blank"> Wild Code School.</a></small></p>
            </div>
        </div>
    </footer>

    <!-- Jquery google CDN 3.1.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SmoothScroll script for index -->
    <script src="{{ asset('js/smoothscroll.js')}}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    {% block javascripts %}{% endblock %}

</body>
</html>
