<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html" charset="utf-8" />

    <!-- Open Graph images configuration -->
    <!-- image 1: cover the Booster -->
    <meta property="og:image" content="{{ asset('img/visuel-the-booster-op.jpg')}}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="3523">
    <meta property="og:image:height" content="2372">
    <!-- image 2: logo the Booster -->
    <meta property="og:image" content="{{ asset('img/logo-the-booster-og.png')}}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Fichier CSS custom -->
    <link rel="stylesheet" href="{{ asset('css/main.css')}}" >

    <!-- Google Font title ROBOTO -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- Google Font paragraphes et boutons SOURCE SANS PRO -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">

    <!-- Font-awesome for logo -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/the-booster-favicon-ico.ico')}}" />
    <link rel="icon" type="image/png" href="{{ asset('img/the-booster-favicon-16X16.png')}}" />


    <title>{% block title %}The Booster | La 1ere plateforme de crowdfunding de compétences {% endblock %}</title>
    <meta name="description" content="{% block pageDescription %}{% endblock %}"/>

    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <nav  role="navigation" class="navbar navbar-fixed-top">
            <div class="container-fluid nav_container">
                <div class="navbar-header" id="navbar-logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('booster_homepage') }}"><img src="{{ asset('img/logo-booster-det.png')}}" alt="The Booster logo"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">

                        <li>{% if is_granted("ROLE_BOOSTE") %}{% if app.user.society is null %}{% else %}<a href="{{ path('new_project') }}">Proposer un projet</a>{% endif %}</li>
                        {% endif %}
                        <li><a href="{{ path('list_society') }}">Découvrez les Boostés</a></li>
                        <li><a href="{{ path('booster_how_it_works') }}">Comment ça marche</a></li>
                    </ul>

                {# DROP DOWN WHITH PROFILE / EDIT PROFILE / DISCONNECT #}

                    {# FIRST PART FOR THE ROLE BOOSTER #}
                    {% if is_granted('ROLE_BOOSTER') %}
                    <div class="nav navbar-nav navbar-right btn-group drop-nav-perso">
                        <ul class="nav navbar-nav profile-dropdown">
                            <li class="dropdown">
                                {% if app.user.booster == null  %}
                                <a href="{{ path('dashboard_booster_new',{'id':app.user.id}) }}" class="log-nav">
                                    <i class="fa fa-user icon-black" aria-hidden="true"></i>Complétez votre profil
                                </a>
                                {% else %}
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>Bonjour {{ app.user.firstName }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('dashboard_booster',{'slug' : app.user.booster.slug }) }}" class="log-nav"><i class="fa fa-user" aria-hidden="true"></i>Dashboard</a></li>
                                    <li><a href="{{ path('dashboard_booster_edit',{'slug':app.user.booster.slug}) }}" class="log-nav"><i class="fa fa-cog" aria-hidden="true"></i>Editez votre profil</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('fos_user_profile_show')}}"><i class="fa fa-cog" aria-hidden="true"></i>Paramètre du compte</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}" class="log-nav"><i class="fa fa-power-off" aria-hidden="true"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                            {% endif %}

                    {# SECOND PART FOR THE ROLE BOOSTE #}

                    {% elseif is_granted('ROLE_BOOSTE') %}
                        <div class="nav navbar-nav navbar-right btn-group drop-nav-perso">
                            <ul class="nav navbar-nav profile-dropdown">
                                <li class="dropdown">
                                {% if app.user.society == null  %}
                                    <a href="{{ path('dashboard_society_new',{'id':app.user.id})}}" class="log-nav">
                                        <i class="fa fa-user icon-black" aria-hidden="true"></i>Complétez votre profil
                                    </a>
                                {% else %}
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user" aria-hidden="true"></i>Bonjour {{ app.user.firstName }} <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('dashboard_society',{'slug': app.user.society.slug}) }}" class="log-nav" ><i class="fa fa-user" aria-hidden="true"></i>Dashboard</a></li>
                                        <li><a href="{{ path('dashboard_society_edit',{'slug':app.user.society.slug}) }}" class="log-nav"><i class="fa fa-cog" aria-hidden="true"></i>Editez votre profile</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('fos_user_profile_show')}}"><i class="fa fa-cog" aria-hidden="true"></i>Paramètre du compte</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}" class="log-nav"><i class="fa fa-power-off" aria-hidden="true"></i>Déconnexion</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>{% endif %}


                    {# THIRD PART LAST PART #}

                    {% else %}
                    <div class=" navbar-right btn-group">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('booster_inscription_choix') }}" class="login-index connection-nav">Inscription</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}" class="login-index connection-nav">Connexion</a></li>{% endif %}
                            <li>
                                <div class="navbar-right navbar-social">
                                    <ul>
                                        <li><a href="https://www.facebook.com/The-Booster-1775588599376645/" target="_blank" ><i class="fa fa-facebook" id="ico-white-fb" aria-hidden="true"></i></a></li>
                                        <li><a href="https://twitter.com/ZeBooster" target="_blank"><i class="fa fa-twitter" id="ico-white-tw" aria-hidden="true"></i></a></li>
                                        <li><a href="https://fr.linkedin.com/in/the-booster-059bb1130" target="_blank"><i class="fa fa-linkedin" id="ico-white-lk" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% block body %}{% endblock %}
    {% block content %}{% endblock %}

    <footer>
        <div class="container-fluid center-block" id="foo_list">
            <div class="row visible-xs visible-sm foo_social">
                <a href="https://www.facebook.com/The-Booster-1775588599376645/" target="_blank">
                    <img src="{{ asset('img/facebook-tb-white.png')}}" alt="facebook">
                </a>
                <a href="https://twitter.com/ZeBooster" target="_blank">
                    <img  src="{{ asset('img/twitter-the-booster-white.png')}}" alt="twitter">
                </a>
                <a href="https://fr.linkedin.com/in/the-booster-059bb1130" target="_blank">
                    <img  src="{{ asset('img/linkedin-the-booster-white.png')}}" alt="linkedin">
                </a>
            </div>
            <div class="row foo_mention">

                <p><a href="{{ path('booster_how_it_works') }}">Comment ça marche</a> |
                <a href="{{ path('booster_cgv') }}">CGV/CGU</a> |
                <a href="{{ path('booster_f_a_q') }}">FAQ</a> |
                <a href="{{ path('booster_charte') }}">La charte |</a>
                    <a href="{{ path('booster_mentions_legales') }}">Mentions légales</a>
                <p><a href="{{ path('booster_equipe') }}">L'équipe</a> |
                <a href="{{ path('booster_contact') }}">Nous contacter</a></p>

                <p class="foo_copyright"><small>Copyright © 2016 - The Booster. Tous droits réservés.<br/>Réalisé par les élèves de la <a href="{{ 'http://www.wildcodeschool.fr' }}" target="_blank"> Wild Code School.</a></small></p>
            </div>
        </div>
    </footer>

    <!-- Jquery google CDN 3.1.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SmoothScroll script for index -->
    <script src="{{ asset('js/smoothscroll.js')}}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

    {% block javascripts %}{% endblock %}

</body>
</html>
