{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boosters list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>City</th>
                <th>Zipcode</th>
                <th>Birthdate</th>
                <th>Workstatus</th>
                <th>Competence1</th>
                <th>Competence2</th>
                <th>Competence3</th>
                <th>Competence4</th>
                <th>Competence5</th>
                <th>Competence6</th>
                <th>Presentation</th>
                <th>Hoursgiven</th>
                <th>Projectdonenumber</th>
                <th>Averagenotation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booster in boosters %}
            <tr>
                <td><a href="{{ path('booster_show', { 'id': booster.id }) }}">{{ booster.id }}</a></td>
                <td>{{ booster.photo }}</td>
                <td>{{ booster.city }}</td>
                <td>{{ booster.zipCode }}</td>
                <td>{% if booster.birthDate %}{{ booster.birthDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ booster.workStatus }}</td>
                <td>{{ booster.competence1 }}</td>
                <td>{{ booster.competence2 }}</td>
                <td>{{ booster.competence3 }}</td>
                <td>{{ booster.competence4 }}</td>
                <td>{{ booster.competence5 }}</td>
                <td>{{ booster.competence6 }}</td>
                <td>{{ booster.presentation }}</td>
                <td>{{ booster.hoursGiven }}</td>
                <td>{{ booster.projectDoneNumber }}</td>
                <td>{{ booster.averageNotation }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('booster_show', { 'id': booster.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('booster_edit', { 'id': booster.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('booster_new') }}">Create a new booster</a>
        </li>
    </ul>
{% endblock %}
