{% extends 'base.html.twig' %}

{% block body %}
    <h1>Society</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ society.id }}</td>
            </tr>
            <tr>
                <th>Visuel société</th>
                <td>{{ society.photo }}</td>
            </tr>
            <tr>
                <th>Nom de la société</th>
                <td>{{ society.societyName }}</td>
            </tr>
            <tr>
                <th>Phrase d'accroche</th>
                <td>{{ society.punchLine }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ society.presentation }}</td>
            </tr>
            <tr>
                <th>Lien Linkedin</th>
                <td>{{ society.linkedin }}</td>
            </tr>
            <tr>
                <th>Lien Facebook</th>
                <td>{{ society.facebook }}</td>
            </tr>
            <tr>
                <th>Lien Twitter</th>
                <td>{{ society.twitter }}</td>
            </tr>
            <tr>
                <th>Lien Youtube</th>
                <td>{{ society.youtube }}</td>
            </tr>
            <tr>
                <th>Lien Site internet</th>
                <td>{{ society.websiteLink }}</td>
            </tr>
            <tr>
                <th>Hourstaken</th>
                <td>{{ society.hoursTaken }}</td>
            </tr>
            <tr>
                <th>Averagenotation</th>
                <td>{{ society.averageNotation }}</td>
            </tr>
            <tr>
                <th>Projectdonenumber</th>
                <td>{{ society.projectDoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('society_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('society_edit', { 'id': society.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
