{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password  col-xs-12 col-lg-offset-2 col-lg-8' } }) }}
{{ form_label(form.current_password, 'Mot de passe actuel')}}
    {{form_widget(form.current_password, {'attr' : { 'class' :'form-control text-center'}})}}
{{ form_label(form.plainPassword.first, 'Mot de passe')}}
<p class="tiny">Le mot de passe doit contenir minimum 6 caractères.</p>
{{form_widget(form.plainPassword.first, {'attr' : {'class': 'form-control text-center', 'pattern' : '.{6,}'}})}}
{{ form_label(form.plainPassword.second, 'Votre nouveau mot de passe ')}}
    {{ form_widget(form.plainPassword.second, { 'attr': { 'class': 'form-control text-center'}}) }}
<div class="btn_register">
    <input type="submit" value="Envoyer" class="btn btn-danger" />
</div>
{{ form_end(form) }}
