{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Projectname</th>
                <td>{{ project.projectName }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ project.category }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Creationstatus</th>
                <td>{{ project.creationStatus }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ project.status }}</td>
            </tr>
            <tr>
                <th>Giventime</th>
                <td>{{ project.givenTime }}</td>
            </tr>
            <tr>
                <th>Createtime</th>
                <td>{% if project.createTime %}{{ project.createTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if project.endTime %}{{ project.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Boostercommentaries</th>
                <td>{{ project.boosterCommentaries }}</td>
            </tr>
            <tr>
                <th>Societycommentaries</th>
                <td>{{ project.societyCommentaries }}</td>
            </tr>
            <tr>
                <th>Boosternote</th>
                <td>{{ project.boosterNote }}</td>
            </tr>
            <tr>
                <th>Societynote</th>
                <td>{{ project.societyNote }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
