{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'attr': {'class': 'fos_user_registration_register'}}) }}
{% if uniqueMail == true %}
    {{ form_row(form.email, { id:'boosteMail'}) }}
    <div id="duplicateMessageMail"><em>Cette adresse email est déja enregistrée</em></div>
    {% else  %}
        {{ form_row(form.email) }}
    {% endif %}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.title) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.professionalfunction) }}
    {{ form_row(form.nameproject) }}
    {{ form_row(form.typeproject) }}
    <div id="phoneGroup">
        {{ form_row(form.phone) }}
    </div>
    <div id="siretGroup">
    {% if uniqueSiret == true %}
        {{ form_row(form.siretnumber, { id:'boosteSiret'}) }}
        <div id="duplicateMessageSiret"><em>Ce n° siret est déja enregistrée</em></div>
    {% else  %}
        {{ form_row(form.siretnumber) }}
    {% endif %}
    </div>
    {% if required == true %}
        <div id="required"><em>Ce champ est obligatoire</em></div>
    {% endif %}
    <div class="btn_register">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-danger"/>
    </div>

{{ form_end(form) }}


