{% trans_default_domain 'FOSUserBundle' %}

<div class="text-center">
    {% if error %}
        <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

            <div class="login_email">
                <label for="user">Adresse email</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="login_password">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>

            <div class="login_checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <div class="login_button">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-danger btn_login_connect"/>
            </div>
    </form>
</div>