{% extends 'base.html.twig' %}
{% block title %}Mise en avant sur la homepage | The Booster{% endblock %}
{% block body %}
    <section class="container-fluid global-presentation">
        <div class="container">
            <div class="col-xs-12 col-md-6 col-md-offset-3 form-transaction">
                <div class="row">
                    <div class="transaction-divs title-transaction">MISE EN AVANT SUR LA PAGE D'ACCUEIL</div>
                </div>
                <div class='row'>
                    <div class="transaction-divs">&nbsp;&nbsp;&nbsp;<strong>Durée</strong> :&nbsp; 24h</div>
                </div>
                <div class="row">
                    <div class="transaction-divs">&nbsp;&nbsp;&nbsp;<strong>Prix</strong> :&nbsp; 5 € HT</div>
                </div>
                <div class="row">
                    <div class="transaction-divs">&nbsp;&nbsp;&nbsp;<strong>TVA</strong> :&nbsp; 1 € (20 %)</div>
                </div>
                <div class="row">
                    <div class="transaction-divs">&nbsp;&nbsp;&nbsp;<strong>Total TTC</strong> :&nbsp;{{ order.amount }} € TTC</div>
                </div>
                <div class="row transaction-form">
                    {{ form_start(form) }}
                        <label class="checkbox-inline col-xs-12 col-md-6"><input type="checkbox" value="" required>
                            En cochant cette case, j'accepte les
                            <a href ="{{ path('booster_cgv') }}" target="_blank"> Conditions Générales de Vente.</a>
                        </label>
                        {{ form_widget(form, {'attr': {'class': 'hidden'}}) }}
                    <input class="transaction-submit col-xs-12 col-md-6" type="submit" value="Payer avec Paypal" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}