{% extends 'base.html.twig' %}
{% block title %}Dashboard Booster | The Booster{% endblock %}
{% block body %}
<div class="blueHour">
    {% for booster in boosters %}
        <section class="container-fluid global-presentation">
            <div class="container prelude">
                <div class="col-md-3 avatar">
                    <img src="{{ booster.photo|default ? asset('img/uploads/boosters/' ~ booster.photo) : asset('img/photo-couverture-profile-booster.png') }}" alt="photo couverture société" />
                </div>

                {# Personnal information of the booster #}

                <div class="col-md-3 personnal-information">
                    <p><strong>Civilité</strong> : {{ booster.user.title }}</p>
                    <p><strong>Prénom</strong> : {{ booster.user.firstName }}</p>

                    {# we hide this for visitors #}
                    {% if app.user.booster %}
                        <p><strong>Nom</strong> : {{ booster.user.lastName }}</p>
                        <p><strong>Email</strong> : {{ booster.user.email }}</p>
                    {% endif %}
                </div>

                {# The statistic of the booster hour given / projects done and average notation #}

                <div class="col-md-3 col-md-offset-3" id="statistic-booster">
                {% if booster.projectDoneNumber != 0 %}
                    {% set noteBooster = (booster.averageNotation / booster.projectDoneNumber) | round %}
                {% else %}
                    {% set noteBooster = 0 %}
                {% endif %}
                    <p>Heures reçues : {{ booster.hoursGiven }}</p>
                    <p>Projets réalisés : {{ booster.projectDoneNumber }}</p>
                    <p>Note du booster : {{ noteBooster }}</p>
                    <ul>
                    {% if noteBooster != 0 %}
                        {% for i in 1..noteBooster %}
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        {% endfor %}
                    {% endif %}
                    {% if noteBooster != 5 %}
                        {% for i in 1..5 - noteBooster %}
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </section>

        {#<hr class="dashboard-separation">#}

        {# The navigation bar home / projects in progress / projects done #}

        <section class="container-fluid">
            <div class="container dashboard-nav-container">
                <div class="col-xs-12" id="navbar-dashboard">
                    <ul class="nav nav-pills dashboard-nav">
                        <li><a id="project-home">Accueil</a></li>
                        <li><a id="project-in-progress">Projets en cours</a></li>
                        <li><a id="project-done">Projets réalisés</a></li>

                        {# we hide this for visitors #}
                        {% if app.user.booster %}
                            <li><a id="messenger">Messages</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>

        {# The personnal information of the booster #}

        <section id="dashboard-booster-home" class="container-fluid presentation-booster">
            <div class="container prelude">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h3 class="text-left">Mes coordonnées :</h3>

                        {# we hide this for visitors #}
                        {% if app.user.booster %}
                            <p><strong>Lieu de résidence</strong> : {{ booster.city }} </p>
                        {% endif %}

                        <p><strong>Code Postal</strong> : {{ booster.zipCode }}</p>

                        {# we hide this for visitors #}
                        {% if app.user.booster %}
                            <p><strong>Date de naissance</strong> : {% if booster.birthDate %}{{ booster.birthDate|date('d-m-Y') }}
                        {% endif %} </p>{% endif %}

                        <p><strong>Je suis</strong> : {{ booster.workStatus }}</p>
                    </div>

                    <div class="col-xs-12 col-md-8 booster-skill">
                        <h3 class="text-left">Mes principales compétences :</h3>
                        <p><strong>Compétence principale</strong> : {{ booster.competence1 }}</p>
                        <p><strong>Mes autres compétences</strong> : </p>
                        <ul>
                            {% if booster.competence2 %}<li>{{ booster.competence2 }}</li>{% endif %}
                            {% if booster.competence3 %}<li>{{ booster.competence3 }}</li>{% endif %}
                            {% if booster.competence4 %}<li>{{ booster.competence4 }}</li>{% endif %}
                            {% if booster.competence5 %}<li>{{ booster.competence5 }}</li>{% endif %}
                            {% if booster.competence6 %}<li>{{ booster.competence6 }}</li>{% endif %}
                        </ul>
                    </div>
                </div>
                {# The presentation text of the booster #}

                <h3 class="text-left">Ma présentation:</h3>
                <div class="col-xs-12 presentation-text">
                    <p>{{ booster.presentation | raw }}</p>
                </div>
            </div>
        </section>

        {# The Project part "IN PROGRESS" #}
        <section class="container-fluid presentation-booster" id="dashboard-booster-inProgress">
            <div class="container project-in-progress prelude">
                {% set index = 0 %}
                {% for subscription in subscriptions %}

                    {# If project has not been deleted #}
                    {% if subscription.project.status != 'Delete'%}

                            {# if project is opened (in this case it would be subrsiption canceled) or in-progress on in-progress part of the dashboard#}
                            {% if subscription.project.status != 'Done'%}
                                {% if subscription.status == 'In_progress' or subscription.status == 'Open' %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="text-left"><strong>{{ subscription.booster.user.firstName }}</strong>
                                                à offert {{ subscription.givenTime }}H
                                                pour le projet {{ subscription.project.projectName }}
                                                de la société <strong>{{ subscription.project.society.societyName }}</strong><br/>
                                            </p>
                                            <p class="text-left">
                                                Le projet à été ouvert le {{ subscription.project.createTime|date('d/m/Y') }},
                                                la collaboration à démarré le {{ subscription.createTime|date('d/m/Y') }}.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="text-left"><strong>Description du projet</strong>: {{ subscription.project.description | raw }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {# if project is in_progress #}
                                {% if subscription.status == 'In_progress' %}
                                    <div class="sub-container row">
                                        <div class="col-xs-8">
                                            Projet en cours de réalisation !
                                        </div>
                                        <div class="col-xs-4">
                                            {# if booster have no terminated the project #}
                                            {% if not subscription.boosterValidation %}
                                                <a href="{{ path('project_done', {'projectId': subscription.project.id, 'subscriptionId': subscription.id, 'dashboardSlug': subscription.booster.slug, 'role': 'booster' }) }}" class="button-cancel-subscription">Ce projet est terminé !</a><br/>

                                            {# if booster have terminated the project and wait for society validation #}
                                            {% else %}
                                                En attente de la validation de {{ subscription.project.society.user.firstname }}.<br/>
                                            {% endif %}
                                            {# open the collapse with confiramtion for cancel collaboration on click #}
                                            <a data-toggle="collapse" data-target="{{'#collapseCancel' ~ index }}" class="button-cancel-subscription">Annuler la collaboration</a>
                                        </div>
                                        {#Collapse for cancelation confirmation#}
                                        <div id="{{'collapseCancel' ~ index }}" class="collapse">
                                            <div> <strong>Attention, en annulant cette collaboration, vous n'aurez plus la possibilité de terminer ce projet avec {{ subscription.project.society.user.firstName }}: </strong><br/>
                                                <a href="{{ path('subscription_cancel', {'projectId': subscription.project.id, 'subscriptionId': subscription.id, 'dashboardId': subscription.booster.id, 'role': 'booster' }) }}">Je confirme l'annulation</a>
                                            </div>
                                        </div>
                                    </div>


                                    {% set index = index + 1 %}
                                    {# if subscription has been canceled #}
                                {% elseif subscription.status == 'Canceled' %}
                                    <div class="sub-container row">
                                        <div class="col-xs-8">
                                            La collaboration à été annulée
                                        </div>
                                    </div>
                                {% endif %}

                            {% endif %}

                    {% endif %}
                {% endfor %}
            </div>
        </section>

        {# The Project part "DONE" #}

        <section class="container-fluid presentation-booster" id="dashboard-booster-done">
            <div class="container prelude project-done">
                {% for subscription in subscriptions %}

                    {# if project is done #}
                    {% if subscription.status == 'Done' %}

                        <div class="row">
                            <p class="text-left"><strong>{{ subscription.project.projectName }}</strong>:
                                Projet terminé le {{ subscription.project.endTime|date('d/m/Y') }} grace à la collaboration de {{ subscription.booster.user.firstName }} en {{ subscription.GivenTime }}H.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <strong>Note du Booster</strong> :
                                {% if subscription.boosterNote != 0 %}
                                    {% for i in 1..subscription.boosterNote %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endfor %}
                                {% endif %}
                                {% if subscription.boosterNote != 5 %}
                                    {% for i in 1..5 - subscription.boosterNote %}
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-9">
                                <strong>Son commentaire</strong>: {{ subscription.boosterCommentaries }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <strong>Note du Boosté</strong> :&nbsp;
                                {% if subscription.boosterNote != 0 %}
                                    {% for i in 1..subscription.societyNote %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endfor %}
                                {% endif %}
                                {% if subscription.societyNote != 5 %}
                                    {% for i in 1..5 - subscription.societyNote %}
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-9">
                                <strong>Son commentaire</strong>: {{ subscription.societyCommentaries }}
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </section>

    {% endfor %}
    {% if app.user.booster %}
        {% include 'BoosterBundle:Dashboard:messenger.html.twig' %}
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dashboards.js')}}"></script>
    <script src="{{ asset('js/messenger.js')}}"></script>
    <script>
        tinymce.init({
            paste_data_images: false,
            elementpath: false,
            selector:'.WYSIWYG',
            forced_root_block: false,
            plugins: "paste",
            menubar: 'tools',
            toolbar: 'undo redo | bold italic underline strikethrough | fontsizeselect',
            height : 300,
        });
    </script>
{% endblock %}