{% extends 'base.html.twig' %}

{% block body %}
    {% for booster in boosters %}
    <section class="container-fluid global-presentation">
        <div class="container">
            <div class="col-md-3 avatar">
                <img src="{{ asset('img/avatar-test.jpg') }}" alt="photo-avatar" />
            </div>

            <div class="col-md-2 personnal-information">
                <p>Civilité :</p>
                <p>Prénom :</p>
                <p>Nom :</p>
                <p>Email :</p>
                <p>N° de tel :</p>
            </div>

            <div class="col-md-3 col-md-offset-4" id="statistic-booster">
                <p>Heures données : </p>
                <p>Projets soutenus :</p>
                <p>Note des boostés : </p>
                <ul>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </section>

    <hr class="dashboard-separation">

    <section class="container-fluid">
        <div class="container">
            <div class="col-xs-12" id="navbar-dashboard">
                <ul>
                    <li><a href="#">Acceuil</a></li>
                    <li><a href="#">Projets en cours</a></li>
                    <li><a href="#">Projets réalisés</a></li>
                </ul>
            </div>
        </div>
        <hr class="dashboard-separation">
    </section>

    <section class="container-fluid">
        <div class="container">
            <p>Lieu de résidence : {{ booster.city }}</p>
            <p>Code Postal : {{ booster.zipCode }}</p>
            <p>Date de naissance : {{ booster.birthDate|date('Y-m-d') }}</p>
            <p>Métier : {{ booster.workStatus }}</p>

            <h3>Mes principales compétences :</h3>

            <div class="col-md-6">
                <ul>
                    <li>{{ booster.competence1 }}</li>
                    <li>{{ booster.competence2 }}</li>
                    <li>{{ booster.competence3 }}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>{{ booster.competence4 }}</li>
                    <li>{{ booster.competence5 }}</li>
                    <li>{{ booster.competence6 }}</li>
                </ul>
            </div>
        </div>
    </section>

    {% endfor %}
{% endblock %}