<section class="container-fluid presentation-booster" id="dashboard-booster-inProgress">
    {% for project in projects %}
    {# if the project have not been deleted (status -> Delete)#}
        {% if subscription.project.status != 'Delete'%}
            {# we display project if not blocked and if status is open or in_progress #}
            {% if project.status != 'Done'%}
                <div class="container project-in-progress prelude">

                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <p><strong>Nom de la société</strong></p>
                            <p>{{ society.societyName }}</p>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <p><strong>Nom du projet :</strong></p>
                            <p>{{ project.projectName }}</p>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <p><strong>Nombre d'heures:</strong></p>
                            <p>{{ project.givenTime }}</p>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <p><strong>Catégorie:</strong></p>
                            <p>{{ project.category }}</p>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <p><strong>Statut:</strong></p>
                            <p>{{ project.status }}</p>
                        </div>
                        <div class="col-xs-12 ">
                            <hr class="hr-project">
                            <p class="text-left">{{ project.description | raw }}</p>
                        </div>
                    </div>
                    {# we display display subscriptions info if project has been validated #}
                    {% if project.creationStatus == true %}

                        <div class="sub-container">
                            {#subscriptions for each project#}
                            {% for subscription in project.projectSubscriptions %}

                                {# we allow society to contact and see subscribers if noone has been chosen yet #}
                                {% if project.status == 'Open' %}
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="col-xs-6">
                                                <em class="text-left">{{ subscription.createTime|date('Y-m-d') }}</em><br/>
                                                <em class="text-left">{{ subscription.createTime|date('H:i:s') }}</em><br/>
                                            </div>
                                            <div class="col-xs-6 avatar-messenger">
                                                <img src="{{ subscription.booster.photo|default ? asset('img/uploads/boosters/' ~ subscription.booster.photo) : asset('img/photo-couverture-profile-societe.png') }}" alt="photo-avatar"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <p class="text-left"><strong>{{ subscription.booster.user.firstName }}</strong> : {{ subscription.message | raw }}</p>
                                        </div>
                                        <div class="col-xs-1">
                                            <p class="text-left"><strong>{{ subscription.givenTime }} H</strong></p>
                                        </div>
                                        {% if subscription.status == 'Open' %}
                                        {# we allow society to contact and see subscribers if noone has been chosen yet #}
                                        <div class="col-xs-2">
                                            <a href="{{ path('dashboard_booster', {'slug': subscription.booster.slug }) }}" title="Le voir">
                                                Le voir
                                            </a><br/>
                                            <a href="{{ path('dashboard_contact_booster', {'societyId': app.user.society.id, 'projectId': subscription.project.id, 'subscriptionId': subscription.id }) }}" title="Le contacter">
                                                Accepter le coup de boost
                                            </a>
                                        </div>
                                        {% elseif subscription.status == 'In_progress' %}
                                            <div class="col-xs-2">
                                                <a title="En cours">Projet en cours de réalisation</a>
                                            </div>
                                        {% elseif subscription.status == 'Canceled' %}
                                            {# if subscription has been canceled #}
                                            <div class="col-xs-2">
                                                <a title="Annule">La collaboration a été annulée</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                    {# if status is in_progress we display that the project is in progress #}
                                {% else %}
                                    <div class="row">
                                            <div class="col-xs-8">
                                                Projet en cours de réalisation !
                                            </div>
                                            <div class="col-xs-4">
                                                {# if project has not been put to done by the society #}
                                                {% if not subscription.societyValidation %}
                                                <a href="{{ path('project_done', {'projectId': subscription.project.id, 'subscriptionId': subscription.id, 'dashboardSlug': app.user.society.slug, 'role': 'society' }) }}" class="button-cancel-subscription">Ce projet est terminé !</a><br/>

                                                    {# if project has been put to done by the society and not by booster project status would be Done #}
                                                {% else %}
                                                    En attente de la validation de {{ subscription.booster.user.firstname }}.<br/>
                                                {% endif %}
                                                {# on click, will display the collapse to confirm to cancel helping #}
                                                <a data-toggle="collapse" data-target="#collapseCancel" class="button-cancel-subscription">Annuler la collaboration</a>
                                            </div>

                                    </div>

                                    {#Collapse for cancelation confirmation#}
                                    <div id="collapseCancel" class="collapse">
                                        <div> <strong>Attention, en annulant cette collaboration, vous n'aurez plus la possibilité de terminer ce projet avec {{ subscription.booster.user.firstName }}: </strong><br/>
                                        <a href="{{ path('subscription_cancel', {'projectId': subscription.project.id, 'subscriptionId': subscription.id, 'role': 'society' }) }}">Je confirme l'annulation</a>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                        {# we display that project need to be validated if creationStatus = false #}
                    {% else %}
                        {# project waiting for validation #}
                        <div class="sub-container row">
                            <div class="col-xs-12">
                                Projet en attente de validation !
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>