<section class="container-fluid presentation-booster" id="dashboard-booster-inProgress">
    <div class="container project-in-progress">
        {# for collapse for project delete #}
        {% set index = 0 %}
        {% for project in projects %}
            {# if the project have not been deleted (status -> Delete)#}
            {% if project.status != 'Delete'%}
                {# we display project if not blocked and if status is open or in_progress #}
                {% if project.status != 'Done'%}
                    <div class="projects prelude row">

                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-left"><strong>Projet: {{ project.projectName }}</strong>
                                ouvert depuis le {{ project.createTime|date('d/m/Y') }},
                                par <strong>{{ project.society.user.firstName }}</strong>,
                                dans la catégorie {{ project.category }}.
                                <br/>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-left"><strong>Description du projet</strong>: {{ project.description | raw }}</p>
                        </div>
                    </div>

                        {# we display display subscriptions info if project has been validated #}
                        {% if project.creationStatus == true %}

                            <div class="sub-container">

                                {#subscriptions for each project#}
                                {% for subscription in project.projectSubscriptions %}

                                    {# we allow society to contact and see subscribers if noone has been chosen yet #}
                                    {% if project.status == 'Open' %}
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="col-md-6">
                                                    <em class="text-left">{{ subscription.createTime|date('Y-m-d') }}</em><br/>
                                                    <em class="text-left">{{ subscription.createTime|date('H:i:s') }}</em><br/>
                                                </div>
                                                <div class="col-xs-4 col-md-6 avatar-messenger">
                                                    <img src="{{ subscription.booster.photo|default ? asset('img/uploads/boosters/' ~ subscription.booster.photo) : asset('img/photo-couverture-profile-societe.png') }}" alt="photo-avatar"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <p class="text-left"><strong>{{ subscription.booster.user.firstName }}</strong> : {{ subscription.message | raw }}</p>
                                            </div>
                                            <div class="col-md-1">
                                                <p class="text-left"><strong>{{ subscription.givenTime }} H</strong></p>
                                            </div>
                                            {% if subscription.status == 'Open' %}
                                            {# we allow society to contact and see subscribers if noone has been chosen yet #}
                                            <div class="col-xs-12 booster-contact">
                                                <div class="col-xs-6 see-booster">
                                                    <div class="col-xs-6 col-xs-offset-3">
                                                        <a href="{{ path('dashboard_booster', {'slug': subscription.booster.slug }) }}" title="Le voir">
                                                            <i class="fa fa-user-circle" aria-hidden="true"></i>Profil du Booster</a>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 accept-booster">
                                                    <div class="col-xs-6 col-xs-offset-3">
                                                        <a href="{{ path('dashboard_contact_booster', {'societyId': app.user.society.id, 'projectId': subscription.project.id, 'subscriptionId': subscription.id }) }}" title="Le contacter">
                                                            <i class="fa fa-check" aria-hidden="true"></i>Accepter le coup de boost</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% elseif subscription.status == 'In_progress' %}
                                                <div class="col-md-2">
                                                    <a title="En cours">Projet en cours de réalisation</a>
                                                </div>
                                            {% elseif subscription.status == 'Canceled' %}
                                                {# if subscription has been canceled #}
                                                <div class="col-md-2">
                                                    <a title="Annule">La collaboration a été annulée</a><br/>
                                                </div>
                                            {% endif %}
                                        </div>

                                        {# if status is in_progress we display that the project is in progress #}
                                    {% else %}
                                        {% if subscription.status == 'In_progress' %}
                                            <div class="row">
                                                <div class="col-md-8">
                                                    Projet en cours de réalisation !
                                                </div>

                                                <div class="col-md-4">
                                                    {# if project has not been put to done by the society #}
                                                    {% if not subscription.societyValidation %}
                                                    <a href="{{ path('project_done', {'projectId': subscription.project.id, 'subscriptionId': subscription.id, 'dashboardSlug': app.user.society.slug, 'role': 'society' }) }}" class="button-cancel-subscription">Ce projet est terminé !</a><br/>

                                                        {# if project has been put to done by the society and not by booster project status would be Done #}
                                                    {% else %}
                                                        En attente de la validation de {{ subscription.booster.user.firstname }}.<br/>
                                                    {% endif %}
                                                    {# on click, will display the collapse to confirm to cancel #}
                                                    <a data-toggle="collapse" data-target="{{'#collapseCancel' ~ index }}" class="button-cancel-subscription">Annuler la collaboration</a><br/>
                                                </div>
                                            </div>

                                            {#Collapse for cancelation confirmation#}
                                            <div id="{{'collapseCancel' ~ index }}" class="collapse">
                                                <div> <strong>Attention, en annulant cette collaboration, vous n'aurez plus la possibilité de terminer ce projet avec {{ subscription.booster.user.firstName }}: </strong><br/>
                                                    <a href="{{ path('subscription_cancel', {'projectId': subscription.project.id, 'subscriptionId': subscription.id, 'role': 'society' }) }}">Je confirme l'annulation</a>
                                                </div>
                                            </div>

                                            {# if a booster has already been chosen #}
                                        {% elseif subscription.status == 'Open' %}
                                            {# nothing append... yet #}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {# we display that project need to be validated if creationStatus = false #}
                        {% else %}
                            {# project waiting for validation #}
                            <div class="sub-container row">
                                <div class="col-xs-12">
                                    <p>Projet en cours de modération par l'équipe the Booster!</p>
                                </div>
                            </div>
                        {% endif %}
                    {# on click, will display the collapse to confirm to delete #}
                    <div class="sub-container row">
                        <div class="col-xs-12 delete-project-button">
                            <a data-toggle="collapse" data-target="{{'#collapseDelete' ~ index }}" class="button-cancel-subscription">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>Supprimer le projet</a>
                        </div>
                        {#Collapse for supperssion of the project #}
                        <div id="{{'collapseDelete' ~ index }}" class="collapse">
                            <div> <strong>Attention, après sa suppression, le projet ne pourra pas être récupéré: </strong><br/>
                                <a href="{{ path('project_delete', {'projectId': project.id}) }}">Je confirme la suppression du projet</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {# for collapse for project delete #}
            {% set index = index + 1 %}
        {% endif %}
    {% endfor %}

    </div>
</section>