{% extends 'base.html.twig' %}
{% block title %}Dashboard public Boosté | The Booster{% endblock %}
{% block body %}
    <section class="container-fluid global-presentation blueHour">
        <div class="container prelude">
            <div class="dashboard-society">
                <div class="col-xs-12">
                    <h1 class="text-left">{{ society.societyName }}</h1>
                    <div class="dashboard-social-media">
                        {% if society.facebook %}<a href="{{ society.facebook | external_link }}" target="_blank"><li><i class="fa fa-facebook-official" aria-hidden="true"></i></li></a>{% endif %}
                        {% if society.twitter %}<a href="{{ society.twitter | external_link }}" target="_blank"><li><i class="fa fa-twitter-square" aria-hidden="true"></i></li></a>{% endif %}
                        {% if society.linkedin %}<a href="{{ society.linkedin | external_link }}" target="_blank"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li></a>{% endif %}
                        {% if society.youtube %}<a href="{{ society.youtube | external_link }}" target="_blank"><li><i class="fa fa-youtube-square" aria-hidden="true"></i></li></a>{% endif %}
                    </div>
                </div>
                <div class="col-xs-12 society-photo">
                    <img src="{{ society.photo|default ? asset('img/uploads/societies/' ~ society.photo) : asset('img/photo-couverture-profile-societe.png') }}" alt="photo couverture société" />
                </div>
            </div>

            {# Here the right part of the dashboard we could found the statistic of the society and the button to add a new project #}

            <div class="col-xs-12 col-md-3" id="statistic-society">
            {% if society.projectDoneNumber != 0 %}
                {% set noteBooster = (society.averageNotation / society.projectDoneNumber) | round %}
            {% else %}
                {% set noteBooster = 0 %}
            {% endif %}
                {% if noteBooster > 5 %}
                    {% set noteBooster = 5 %}
                {% endif %}
                <p>Heures reçues : {{ society.hoursTaken }}</p>
                <p>Projets réalisés : {{ society.projectDoneNumber }}</p>
                <p>Note du boosté : {{ noteBooster }}</p>
                <ul>
                    {% if noteBooster != 0 %}
                        {% for i in 1..noteBooster %}
                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        {% endfor %}
                    {% endif %}
                    {% if noteBooster != 5 %}
                        {% for i in 1..5 - noteBooster %}
                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="container prelude">
            <h2>{{ society.punchLine | raw }}</h2>
        </div>

        {# Dashboard #}
        <section class="container-fluid">
            <div class="container dashboard-nav-container">
                <div class="col-xs-12" id="navbar-dashboard">
                    <ul class="nav nav-pills dashboard-nav">
                        <li><a id="project-home">Accueil</a></li>
                        <li><a id="project-in-progress">Projets en cours</a></li>
                        <li><a id="project-done">Projets réalisés</a></li>
                    </ul>
                </div>
            </div>
        </section>

        {# The presentation text of the society #}
        <section id="dashboard-booster-home" class="container-fluid presentation-booster">
            <section class="container prelude">
                <div class="row">
                    <h3 class="text-left">Ma présentation:</h3>
                    <div class="col-xs-12 presentation-text">
                        <p>{{ society.presentation | raw }}</p>
                    </div>
                </div>
            </section>
        </section>

        {# The Project part "IN PROGRESS" #}

        <section class="container-fluid presentation-booster" id="dashboard-booster-inProgress">
            <div class="container project-in-progress prelude">
                {% for project in projects %}
                    {% set showSubscriptions = 1 %}
                    {% if project.status != 'Open' %}
                        {% set showSubscriptions = 0 %}
                    {% endif %}
                    {% if project.status != 'Done' and project.creationStatus == true %}

                        <div class="row">
                            <div class="col-xs-12">
                                <p class="text-left"><strong>Projet: {{ project.projectName }}</strong>
                                    ouvert depuis le {{ project.createTime|date('d/m/Y') }},
                                    par <strong>{{ project.society.user.firstName }}</strong>,
                                    dans la catégorie {{ project.category }}.
                                    <br/>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="text-left"><strong>Description du projet</strong>: {{ project.description | raw }}</p>
                            </div>
                        </div>

                        {% if showSubscriptions %}
                            {#BOOSTE#}
                            {% if is_granted("ROLE_BOOSTE") %}
                                <a class="postulation-button" href="{{ path('booster_inscription_choix') }}">
                                    Créez un compte 'Booster' pour donner du temps à ce projet<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                </a>
                                {#BOOSTER#}
                            {% elseif is_granted("ROLE_BOOSTER") %}

                                {#Verify if the user already subscribed to the project#}
                                {% set subscribed = 0 %}
                                {% for sub in project.projectSubscriptions %}
                                    {% if sub.booster.id|default %}
                                        {% if app.user.booster.id|default %}
                                            {% if sub.booster.id == app.user.booster.id %}
                                                {% set subscribed = 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if subscribed == 0 %}
                                    {#The booster have a 'booster' profile#}
                                    {% if app.user.booster %}
                                        <a class="postulation-button" href="{{ path('project_subscription', { 'boosterId': app.user.booster.id, 'societyId': society.id, 'projectId': project.id }) }}">
                                            Je donne du temps à ce projet !
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                                        {#The booster do not have completed is profile#}
                                    {% else %}
                                        <a class="postuled-button" href="{{ path('dashboard_booster_new',{'id':app.user.id}) }}">Completez votre profil pour pouvoir postuler<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>

                                    {% endif %}
                                {% else %}
                                    <a class="postuled-button">Vous avez postulé pour ce projet !<i class="fa fa-thumbs-up" aria-hidden="true"></i>                                    </a>
                                {% endif %}
                                {#GUEST#}
                            {% else %}
                                <a class="postulation-button" href="{{ path('booster_inscription_choix') }}">Créez un compte pour donner du temps à ce projet<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        {% else %}
                            <div class="sub-container row">
                                <div class="col-xs-12">
                                    Projet en cours de réalisation.
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}
                {% endfor %}
            </div>
        </section>

        {# The Project part "DONE" #}

        <section class="container-fluid presentation-booster" id="dashboard-booster-done">
            <div class="container prelude project-done">
                {% for project in projects %}
                    {% for subscription in project.projectSubscriptions %}
                        {% if subscription.status == 'Done' %}

                            <div class="row">
                                <p class="text-left"><strong>{{ project.projectName }}</strong>:
                                    Projet terminé le {{ project.endTime|date('d/m/Y') }} grace à la collaboration de {{ subscription.booster.user.firstName }} en {{ subscription.GivenTime }}H.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <strong>Note du Booster</strong> :
                                    {% if subscription.boosterNote != 0 %}
                                        {% for i in 1..subscription.boosterNote %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                    {% endif %}
                                    {% if subscription.boosterNote != 5 %}
                                        {% for i in 1..5 - subscription.boosterNote %}
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-9">
                                    <strong>Son commentaire</strong>: {{ subscription.boosterCommentaries }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <strong>Note du Boosté</strong> :&nbsp;
                                    {% if subscription.societyNote != 0 %}
                                        {% for i in 1..subscription.societyNote %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                    {% endif %}
                                    {% if subscription.societyNote != 5 %}
                                        {% for i in 1..5 - subscription.societyNote %}
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-9">
                                    <strong>Son commentaire</strong>: {{ subscription.societyCommentaries }}
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </section>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dashboards.js')}}"></script>
{% endblock %}