{% extends 'base.html.twig' %}
{% block title %}La charte | The Booster{% endblock %}
{% block pageDescription %}The Booster s'inscrit dans l'Économie Sociale, Participative et Solidaire. Notre ADN c'est : Entraide, Solidarité, Don, Gratuité, Liberté et Réciprocité. {% endblock %}


{% block body %}
    <div class="ml_title">
        <h1 class="h1_toppage">La charte</h1>
        <hr>
    </div>

    <div class="container body_ml">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10" id="charte">
                <img src="{{ asset('img/logo-thebooster_0004_solidarite-entraide.png') }}">
                <p><strong>Entraide & Solidarité</strong></p>
                <p>The Booster est une plateforme gratuite qui valorise l’entraide et la solidarité entre le grand public et l’Entrepreneuriat (porteur de projets, Entrepreneurs et Entreprises).</p>
                <br>
                <img src="{{ asset('img/logo-thebooster_0002_Don-gratuite.png') }}">
                <p><strong>Don & Gratuité</strong></p>
                <p>Sur The Booster, les relations entre les Boostés et les Boosters sont basées uniquement sur le principe du bénévolat sans aucune contre partie qu’elle soit financière ou autre.</p>
                <br>
                <img src="{{ asset('img/logo-thebooster_0001_Engagement-volontariat.png') }}">
                <p><strong>Engagement & Volontariat</strong></p>
                <p>Sur The Booster la seule et unique monnaie est l’engagement. Toute personne désireuse de s’engager en faveur d’un Boosté le fait sur la base du volontariat, libre de toute contrainte ou promesse.</p>
                <br>
                <img src="{{ asset('img/logo-thebooster_0000_liberte-reciprocite.png') }}">
                <p><strong>Liberté & Réciprocité</strong></p>
                <p>Sur The Booster l’aide est basée sur un principe de réciprocité et de respect : le Booster choisit librement de proposer de son temps pour aider un Boosté. Les Boostés décident librement et sans influence d’accepter la proposition du Booster de leur choix.</p>
                <br>
                <img src="{{ asset('img/logo-thebooster_0003_changer-le-nom.png') }}">
                <p><strong>Changer le Monde</strong></p>
                <p>Chez The Booster on pense que pour changer le Monde il suffit d’un peu de temps et de beaucoup d’Envie. Si on est motivé, on peut toujours faire quelque chose à son niveau et si chacun fait sa part, si des synergies se créent, de grandes réalisations sont possibles.</p>
            </div>
        </div>
    </div>

{% endblock %}
