{% extends 'base.html.twig' %}
{% block title %}L'équipe | The Booster{% endblock %}
{% block pageDescription %}The Booster c'est une équipe de passionnés, engagés pour changer l'entrepreneuriat.{% endblock %}


{% block body %}
    <section class="container-fluid">
        <div class="row all_blsp_xs all_blsp_sm all_blsp_md"></div>

        <div class="row all_blsp">
            <div class="who_bltxt col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                <h1 class="h1_toppage" id="whoh1_toppage">QUI SOMMES-NOUS ?</h1>
                <hr>
            </div>
        </div>

        {# Here we present the team who worked on the booster project desktop presentation #}
        {# Team on the left of the screen #}
        <div class="container team-presentation">
            <div class="col-md-3 team-block-left">
                <div class="all-team left-team" id="person1">
                    <h2>Guylaine Antonini</h2>
                    <h3>Chief Magical Officer (CMO)</h3>
                    <hr class="hr-team-rocket">
                    <p>"L’important ce n’est pas la destination, c’est le voyage"</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/Guyylaine" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://fr.linkedin.com/in/guylaineantonini/fr" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="all-team left-team" id="person2">
                    <h2>Laurie Gandon</h2>
                    <h3>Chief Happiness Developer</h3>
                    <hr class="hr-team-rocket">
                    <p>"La vie est une aventure, tout débute en dehors de sa zone de confort!"</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/Laurie_Gandon" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://www.linkedin.com/in/lauriegandon" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://github.com/lauriegandon" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="all-team left-team" id="person3">
                    <h2>Yoann Gloaguen</h2>
                    <h3>Chief Computer Addict</h3>
                    <hr class="hr-team-rocket">
                    <p>"L’important ce n’est pas la destination, c’est le voyage"</p>
                    <ul>
                        <li><a class="social-team" href="https://fr.linkedin.com/in/yoanngloaguen" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://github.com/yoannGloaguen" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            {# The div who's contain the rocket team image #}
            <div class="col-md-6 team-rocket">
                <img src="{{ asset('img/the-booster-equipe.png') }}" alt="Presentation de l'équipe the booster">
            </div>
            {# Team on the right of the screen #}
            <div class="col-md-3 team-block-right">
                <div class="all-team right-team" id="person4">
                    <h2>Nicolas Antonini</h2>
                    <h3>Chief Enthusiastic Officer (CEO)</h3>
                    <hr class="hr-team-rocket">
                    <p>"La meilleure façon de prédire l'avenir est de le créer."</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/nicolasantonini" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://fr.linkedin.com/in/nicolasantonini" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="all-team right-team" id="person5">
                    <h2>Riad Hacini</h2>
                    <h3>Chief Web Panda Developer</h3>
                    <hr class="hr-team-rocket">
                    <p>"Bon, je vais mettre la cafetière en root!"</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/Riad_Hacini" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://www.linkedin.com/in/hacini-riad" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://github.com/RiadHacini" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="all-team right-team" id="person6">
                    <h2>Cédric Gamrat</h2>
                    <h3>Chief Philosophical Developer</h3>
                    <hr class="hr-team-rocket">
                    <p>"Le code c'est comme un chapitre dans un livre, il y a toujours une suite"</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/CedricGamrat" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://fr.linkedin.com/in/cedric-gamrat" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://github.com/Wingelo" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# Here the mobile version of the team presentation #}

    <section class="container-fluid mobile-display">
        <div class="col-xs-12">
            {# Here we got a complete presentation of one person from the team #}
            <div class="right-team all-team">
                <div class="col-xs-4 img-portrait-mobile">
                    <img src="{{ asset('img/guylaine-antonini.png') }}">
                </div>
                <div class="col-xs-8">
                    <h2>Guylaine Antonini</h2>
                    <h3>Chief Magical Officer (CMO)</h3>
                    <hr class="hr-team-rocket">
                    <p>"L’important ce n’est pas la destination, c’est le voyage"</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/Guyylaine" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://fr.linkedin.com/in/guylaineantonini/fr" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
           </div>

            <div class="right-team all-team">
                <div class="col-xs-4 img-portrait-mobile">
                    <img src="{{ asset('img/nicolas-antonini.png') }}">
                </div>
                <div class="col-xs-8">
                    <h2>Nicolas Antonini</h2>
                    <h3>Chief Enthusiastic Officer (CEO)</h3>
                    <hr class="hr-team-rocket">
                    <p>"La meilleure façon de prédire l'avenir est de le créer."</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/nicolasantonini" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://fr.linkedin.com/in/nicolasantonini" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="right-team all-team">
                <div class="col-xs-4 img-portrait-mobile">
                    <img src="{{ asset('img/laurie-gandon.png') }}">
                </div>
                <div class="col-xs-8">
                    <h2>Laurie Gandon</h2>
                    <h3>Chief Happiness Developer</h3>
                    <hr class="hr-team-rocket">
                    <p>"La vie est une aventure, tout débute en dehors de sa zone de confort!"</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/Laurie_Gandon" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://www.linkedin.com/in/lauriegandon" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://github.com/lauriegandon" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="right-team all-team">
                <div class="col-xs-4 img-portrait-mobile">
                    <img src="{{ asset('img/riad-hacini.png') }}">
                </div>
                <div class="col-xs-8">
                    <h2>Riad Hacini</h2>
                    <h3>Web Developer</h3>
                    <hr class="hr-team-rocket">
                    <p>On rate 100% des opportunités que l'on n'a pas saisies!</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/Riad_Hacini" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://www.linkedin.com/in/hacini-riad" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://github.com/RiadHacini" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="right-team all-team">
                <div class="col-xs-4 img-portrait-mobile">
                    <img src="{{ asset('img/yoann-g.png') }}">
                </div>
                <div class="col-xs-8">
                    <h2>Yoann Gloaguen</h2>
                    <h3>Chief Computer Addict</h3>
                    <hr class="hr-team-rocket">
                    <p>"L’important ce n’est pas la destination, c’est le voyage"</p>
                    <ul>
                        <li><a class="social-team" href="https://fr.linkedin.com/in/yoanngloaguen" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://github.com/yoannGloaguen" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="right-team all-team">
                <div class="col-xs-4 img-portrait-mobile">
                    <img src="{{ asset('img/cedric-gamrat.png') }}">
                </div>
                <div class="col-xs-8">
                    <h2>Cédric Gamrat</h2>
                    <h3>Chief Philosophical Developer</h3>
                    <hr class="hr-team-rocket">
                    <p>"Le code c'est comme un chapitre dans un livre, il y a toujours une suite"</p>
                    <ul>
                        <li><a class="social-team" href="https://twitter.com/CedricGamrat" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://fr.linkedin.com/in/cedric-gamrat" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="social-team" href="https://github.com/Wingelo" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# End of the team presentation MOBILE DISPLAY #}

{% endblock %}
