{% trans_default_domain 'FOSUserBundle' %}
{% if is_granted("ROLE_BOOSTER") %}
    <p><strong>Adresse-email :</strong> {{ user.username }}</p>
    <p><strong>Nom : </strong>{{ user.lastname}}</p>
    <p><strong>Prénom : </strong>{{ user.firstname}}</p>

{% elseif is_granted("ROLE_BOOSTE") %}

        <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
        <p><strong>Nom : </strong>{{ user.lastname}}</p>
        <p><strong>Prénom : </strong>{{ user.firstname}}</p>
        <p><strong>Fonction : </strong> <p>{{ user.professionalfunction }}</p>
        <p><strong>Téléphone : </strong> <p>{{ user.phone }}</p>
    {% if (user.siretnumber is not null)  %}
        <p><strong>Siret : </strong>{{ user.siretnumber }}</p>
        {% endif %}

{% endif %}

    <div class="btn_register">
        <a href="{{ path('fos_user_profile_edit') }}"><input type="submit" value="Modifier mon profil" class="btn btn-danger" /></a>

        <a href="{{ path('fos_user_change_password') }}" ><input type="submit" value="Modifier mon mot de passe" class="btn btn-danger" /></a>
    </div>

