<html>
    <head>
    </head>
    <body>
        <img src="http://image.noelshack.com/fichiers/2017/52/1483301787-unnamed.png" style="width: 150px;">
        <h1 style="text-align: center;font-weight: 900; font-family: 'Roboto',sans-serif; font-size: 30px;" >Contact</h1>
        <hr style="border:none;width:90px;height:8px;background: #E60F33;margin-bottom: 15px;">

        <h4>Type : {{ type }} </h4>
        <p><strong>Prénom et nom :</strong> {{ surname }} {{ name }}</p>
        <p><strong>Mail de contact :</strong> {{ email }}</p>
        <p><strong>Sujet :</strong> {{ subject }}</p>

        <p><strong>Message :</strong>
        <p>{{ message }}</p>

        <br>
        <br>
        <p>Cordialement,</p>
    </body>
</html>
