<html>
    <head></head>
    <body>
        <h4>Type : {{ type }} </h4>
        <p><strong>Prénom et nom :</strong> {{ surname }} {{ name }}
        <br><strong>Mail de contact :</strong> {{ email }}
        <br><br><strong>Sujet :</strong> {{ subject }}
        <br><strong>Message :</strong> {{ message }}
    </body>
</html>
