<html>
    <head></head>
    <body>
        <h4>Un nouveau Boosté a rejoint la communauté The Booster</h4>
        <p><strong>{{ title }} {{ name }} {{ surname }}</strong> de la société <strong>{{ projectName }}</strong>, siret: <strong>{{ siret }}</strong> attend la validation de son compte.</p>
    </body>
</html>
