{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projectsubscriptions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projectSubscription in projectSubscriptions %}
            <tr>
                <td><a href="{{ path('projectsubscription_show', { 'id': projectSubscription.id }) }}">{{ projectSubscription.id }}</a></td>
                <td>{{ projectSubscription.message }}</td>
                <td>{{ projectSubscription.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projectsubscription_show', { 'id': projectSubscription.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projectsubscription_edit', { 'id': projectSubscription.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projectsubscription_new') }}">Create a new projectSubscription</a>
        </li>
    </ul>
{% endblock %}
